<div class="contenedor-inventario">
    <div class="encabezado flex flex-wrap">
        <div>
            <h1>Inventario</h1>
            <p>142 productos registrados</p>
        </div>
        <div>
            <button>+ Nuevo Producto</button>
        </div>
    </div>
    <div class="flex flex-wrap p-6 contenedor-cards">
        <div class="card">
            <h3>Total Productos</h3>
            <p class="numero">142</p>
            <p class="descripcion">en 6666 categorías</p>
        </div>

        <div class="card">
            <h3>Stock normal</h3>
            <p class="numero">126</p>
            <p class="descripcion bueno">88% del total</p>
        </div>

        <div class="card">
            <h3>Stock bajo</h3>
            <p class="numero">11</p>
            <p class="descripcion bajo">requieren reorden</p>
        </div>

        <div class="card">
            <h3>Stock crítico</h3>
            <p class="numero">5</p>
            <p class="descripcion inmediato">atención inmediata</p>
        </div>
    </div>
    <div class="conte-filtros">
        <div class="flex flex-row buscador">
            <input type="search" placeholder="Buscar productos...">
        </div>
        <div class="flex flex-row-reverse ">
            <select name="" id="">
                <option value="">Todas las Categorias</option>
                <option>Granos</option>
                <option>Lácteos</option>
            </select>
            <select name="" id="">
                <option value="">Todos los Estados</option>
                <option>Granos</option>
                <option>Lácteos</option>
            </select>
        </div>
    </div>
</div>