<div class="encabezado">
    <h1>Dashboard general</h1>
</div>
<div class="cards-grid">
    <div class="card">
        <div class="card-top">
            <span class="card-label">Tiendas activas</span>
            <div class="icon icon-teal">
            </div>
        </div>
        <div class="card-value">5 <span class="card-total">/ 6</span></div>
        <div class="card-bottom">
            <span class="badge badge-down">1 con problemas</span>
        </div>
        <div class="accent-bar" style="width: 83%; background: #1D9E75"></div>
    </div>

    <div class="card">
        <div class="card-top">
            <span class="card-label">Ventas totales (mes)</span>
            <div class="icon icon-blue"></div>
        </div>
        <div class="card-value dinera"><span>$</span>23.4M</div>
        <div class="card-bottom">
            <span class="badge badge-up">+9%</span>
            <span class="card-sub">vs mes anterior</span>
        </div>
        <div class="accent-bar" style="width: 74%; background: #378ADD"></div>
    </div>

    <div class="card">
        <div class="card-top">
            <span class="card-label">Ingresos plataforma</span>
            <div class="icon icon-purple"></div>
        </div>
        <div class="card-value dinera"><span>$</span>1.87M</div>
        <div class="card-bottom">
            <span class="badge badge-neu">suscripciones</span>
        </div>
        <div class="accent-bar" style="width: 60%; background: #7F77DD"></div>
    </div>

    <div class="card">
        <div class="card-top">
            <span class="card-label">Total usuarios</span>
            <div class="icon icon-amber"></div>
        </div>
        <div class="card-value">38</div>
        <div class="card-bottom">
            <span class="badge badge-up">+3</span>
            <span class="card-sub">en 6 tiendas</span>
        </div>
        <div class="accent-bar" style="width: 45%; background: #EF9F27"></div>
    </div>

</div>