<nav class="menu flex items-center justify-between px-8">

    <div>
        <img class="h-20" src="./../../../../../assets/img/logoSaas.png" alt="Logo">
    </div>

    <ul class="flex gap-6">
        <li>
            <a class="px-3 py-1 rounded-md hover:bg-blue-600 hover:text-white transition duration-300">
                Descripción
            </a>
        </li>
        <li>
            <a class="px-3 py-1 rounded-md hover:bg-blue-600 hover:text-white transition duration-300">
                Características
            </a>
        </li>
        <li>
            <a class="px-3 py-1 rounded-md hover:bg-blue-600 hover:text-white transition duration-300">
                Cotización
            </a>
        </li>
        <li>
            <a class="px-3 py-1 rounded-md hover:bg-blue-600 hover:text-white transition duration-300">
                Funcionalidades
            </a>
        </li>
        <li>
            <a class="px-3 py-1 rounded-md hover:bg-blue-600 hover:text-white transition duration-300">
                Planes
            </a>
        </li>
    </ul>

    <div class="ml-6" >
        <button class="bg-blue-600 text-white px-5 py-2 rounded-lg hover:bg-blue-700 transition duration-300" (click)="login()">
            Iniciar Sesión
        </button>
    </div>

</nav>